/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #777;
	width: 960px;
	text-align: center;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: -350px;
  color: #333;
  background: #ebebeb;
}

section {
	padding: 20px;
	margin-bottom: 20px;
}

#nav {
  padding: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: -350px;
  color: #333;
  background: #ebebeb;
}

#left{
  padding: 20px;
  color: #333;
  background: #ebebeb;
  margin-left: 50px;
  margin-right: 20px;
  float: left;
  width: 60%;
  border: 1px solid #ebebeb;

}

#article{
	background-color: #888;
	color: white;
	margin-top: 20px;
}

#h1{
  padding: 20px;
  color: #333;
  background: #ebebeb;
  margin-top: 20px;
  
}

#p{
  padding: 20px;
  color: #333;
  background: #ebebeb;

}
.aside{
  padding: 20px;
  color: #333;
  background-color: #ebebeb;
  margin-left: 50px;
  margin-right: -200px;
  margin-top: -326px;
  margin-bottom: 20px;
  float: right;
  width: 50%;
  border: 1px solid #ebebeb;
}

#full {
	background: #eee;
	clear: both;
	overflow: auto;
	width: 33%;
}


footer {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: -350px;
  color: #333;
  background: #eee;
  clear: both;
}
